#resultat {
    position: absolute;
    top: 500px;
    left: 500px;

}
#champs {
    border: blue 2px double;
    width: 120px;
}

#contenu {
    display: Flex;
    justify-content: center;
    align-content: center;
}